$primary: #F00;
$contrast: #FFF;

/*
Check if this rule is added to the final bundle.
*/
.something {
  color: $primary;
}

.container-fluid, footer {
  background: $primary !important;
}

/*
This is just to set all text elements to blank ...
*/
* {
  color: $contrast !important;
}

.course-header {
  .user-dropdown {
    .btn {
      background: $primary;
    }
  }
}
